In [1]:
! ls data

1952-grfp.data	   1969-grfp.data     1986-grfp.data	 2003-grfp.data
1952-hm-grfp.data  1969-hm-grfp.data  1986-hm-grfp.data  2003-hm-grfp.data
1953-grfp.data	   1970-grfp.data     1987-grfp.data	 2004-grfp.data
1953-hm-grfp.data  1970-hm-grfp.data  1987-hm-grfp.data  2004-hm-grfp.data
1954-grfp.data	   1971-grfp.data     1988-grfp.data	 2005-grfp.data
1954-hm-grfp.data  1971-hm-grfp.data  1988-hm-grfp.data  2005-hm-grfp.data
1955-grfp.data	   1972-grfp.data     1989-grfp.data	 2006-grfp.data
1955-hm-grfp.data  1972-hm-grfp.data  1989-hm-grfp.data  2006-hm-grfp.data
1956-grfp.data	   1973-grfp.data     1990-grfp.data	 2007-grfp.data
1956-hm-grfp.data  1973-hm-grfp.data  1990-hm-grfp.data  2007-hm-grfp.data
1957-grfp.data	   1974-grfp.data     1991-grfp.data	 2008-grfp.data
1957-hm-grfp.data  1974-hm-grfp.data  1991-hm-grfp.data  2008-hm-grfp.data
1958-grfp.data	   1975-grfp.data     1992-grfp.data	 2009-grfp.data
1958-hm-grfp.data  1975-hm-grfp.data  1992-hm-grfp.data  2009-hm-grfp.data
1959-grfp.data	   1976-grfp.data     1993-grfp.data	 2010-grfp.data
1959-hm-grfp.data  1976-hm-grfp.data  1993-hm-grfp.data  2010-hm-grfp.data
1960-grfp.data	   1977-grfp.data     1994-grfp.data	 2011-grfp.data
1960-hm-grfp.data  1977-hm-grfp.data  1994-hm-grfp.data  2011-hm-grfp.data
1961-grfp.data	   1978-grfp.data     1995-grfp.data	 2012-grfp.data
1961-hm-grfp.data  1978-hm-grfp.data  1995-hm-grfp.data  2012-hm-grfp.data
1962-grfp.data	   1979-grfp.data     1996-grfp.data	 2013-grfp.data
1962-hm-grfp.data  1979-hm-grfp.data  1996-hm-grfp.data  2013-hm-grfp.data
1963-grfp.data	   1980-grfp.data     1997-grfp.data	 2014-grfp.data
1963-hm-grfp.data  1980-hm-grfp.data  1997-hm-grfp.data  2014-hm-grfp.data
1964-grfp.data	   1981-grfp.data     1998-grfp.data	 2015-grfp.data
1964-hm-grfp.data  1981-hm-grfp.data  1998-hm-grfp.data  2015-hm-grfp.data
1965-grfp.data	   1982-grfp.data     1999-grfp.data	 2016-grfp.data
1965-hm-grfp.data  1982-hm-grfp.data  1999-hm-grfp.data  2016-hm-grfp.data
1966-grfp.data	   1983-grfp.data     2000-grfp.data	 2017-grfp.data
1966-hm-grfp.data  1983-hm-grfp.data  2000-hm-grfp.data  2017-hm-grfp.data
1967-grfp.data	   1984-grfp.data     2001-grfp.data	 2018-grfp.data
1967-hm-grfp.data  1984-hm-grfp.data  2001-hm-grfp.data  2018-hm-grfp.data
1968-grfp.data	   1985-grfp.data     2002-grfp.data	 2019-hm-grfp.data
1968-hm-grfp.data  1985-hm-grfp.data  2002-hm-grfp.data

In [2]:
import pandas as pd
import glob

In [3]:
files = sorted(glob.glob('data/*'))

In [4]:
df = pd.DataFrame()

for f in files: # build dataframe including award year
    dfn = pd.read_csv(f, sep='\t', engine='python')
    dfn['Year'] = int(f.split('/')[1].split('-')[0])
    df = pd.concat([df, dfn])

In [5]:
df[df['Current Institution'].str.contains('arlington', na=False, case=False)]

,Name,Baccalaureate Institution,Field of Study,Current Institution,Year
855,"Webb, Michael B",University of Texas at Arlington,Engineering - Aeronautical and Aerospace,University of Texas at Arlington,2006
757,"Hucks, Donald V",University of Texas at Arlington,Life Sciences - other (specify) - Quantitative...,University of Texas at Arlington,2006
917,"Marquez, Claudia P",University of Texas at Arlington,Life Sciences - Genetics,University of Texas at Arlington,2008
1186,"Reyes, Luis R",University of Puerto Rico-Rio Piedras,Chemistry - Organic,University of Texas at Arlington,2008
1000,"Marquez, Claudia Patricia",University of Texas at Arlington,Life Sciences - Genetics,University of Texas at Arlington,2009
1568,"Thompson, Blaine Kealyn",University of Texas at Arlington,Life Sciences - Biochemistry,University of Texas at Arlington,2009
1325,"Nutt, William David",University of Texas at Arlington,Social Sciences - Archaeology,University of Texas at Arlington,2010
1251,"Okolo, Wendy",University of Texas at Arlington,Engineering - Aeronautical and Aerospace,University of Texas at Arlington,2010
774,"Henderson, Laura Suarez",University of Texas at Arlington,Engineering - Aeronautical and Aerospace,University of Texas at Arlington,2011
24,"alsmadi, nesreen M",University of Texas at Arlington,Engineering - Biomedical,University of Texas at Arlington,2011
828,"Hussein, Sarah Moussa",University of Texas at Arlington,Engineering - Aeronautical and Aerospace,University of Texas at Arlington,2014
246,"Card, Daren Carter",SUNY College of Environmental Science and Fore...,Life Sciences - Evolutionary Biology,University of Texas at Arlington,2014
524,"Fuess, Lauren E",College of Charleston,Life Sciences - Ecology,University of Texas at Arlington,2014
85,"Barber, Troy Judson",University of Texas at Arlington,Geosciences - other (specify) - Environmental ...,University of Texas at Arlington,2015
604,"Fuess, Lauren Elizabeth",College of Charleston,Life Sciences - other (specify) - Molecular Ec...,University of Texas at Arlington,2015
721,"Gurak, John Albert",University of Texas at Arlington,Chemistry - Chemical Synthesis,University of Texas at Arlington,2015
897,"Johnson, Kimberly Catherine",Louisiana State University & Agricultural and ...,Social Sciences - Linguistics,The University of Texas at Arlington,2015
651,"Glenn, Priscilla Denise",University of Texas at Arlington,Life Sciences - Genetics,University of Texas at Arlington,2017
1369,"Olawoyin, Omomayowa",University of Texas at Arlington,Mathematical Sciences - Mathematical Biology,University of Texas at Arlington,2017
426,"Currie, Kathleen Louise",University of Texas at Arlington,Life Sciences - Genomics,University of Texas at Arlington,2018
761,"Herzog, Marquerite",National University,Life Sciences - Evolutionary Biology,University of Texas at Arlington,2018
240,"CLOUD, JOSEPH MICHAEL",University of Texas at Arlington,Comp/IS/Eng - Robotics and Computer Vision,University of Texas at Arlington,2019

In [6]:
df.groupby('Current Institution').size().sort_values(ascending=False)

Current Institution
Stanford University                                                 1871
UNIVERSITY OF CALIFORNIA BERKELEY                                   1649
Massachusetts Institute of Technology                               1442
Harvard University                                                  1418
University of Washington                                            1236
University of California-Berkeley                                   1166
Yale University                                                      896
University of Texas at Austin                                        874
Northwestern University                                              807
University of Wisconsin-Madison                                      802
Columbia University                                                  769
University of Michigan Ann Arbor                                     735
Princeton University                                                 730
Georgia Institute of Technology                                      708
Cornell University                                                   684
California Institute of Technology                                   669
University of California-San Francisco                               665
Duke University                                                      659
University of Colorado at Boulder                                    645
University of California-Los Angeles                                 643
University of Illinois at Urbana-Champaign                           612
University of California-Irvine                                      611
University of California-Davis                                       606
University of Chicago                                                591
University of North Carolina at Chapel Hill                          554
University of Pennsylvania                                           522
CORNELL UNIVERSITY                                                   470
UNIVERSITY OF MICHIGAN                                               462
University of California-San Diego                                   444
Carnegie-Mellon University                                           439
                                                                    ...
The University of Tennessee, Memphis - The Health Science Center       1
Institut d'Etudes Politiques de Paris (Sciences Po)                    1
Institute of Criminology, University of Cambridge                      1
International Inst for Indust Env Econ at Lund University              1
The University of the State of New York                                1
The University of Wisconsin                                            1
JAMES MADISON UNIVERSITY                                               1
The University of Tulsa                                                1
The University of Texas-Rio Grande Valley                              1
The University of Texas at San Antonio                                 1
Joan and Sanford I. Weill Graduate School of Medical Sciences          1
The University of Texas at Arlington                                   1
Johann Wolfgang Goethe University                                      1
The University of Texas Health Science Center-MD Anderson Cancer       1
Johns Hopkins Medical Institute                                        1
L'Ecole Polytechnique Federale de Lausanne                             1
The University of Tennessee Knoxville                                  1
The University of Southern Mississippi                                 1
The University of Pennsylvania                                         1
Johns Hopkins University, Whiting School of Engineering                1
Johnson State College                                                  1
The University of North Carolina - Chapel Hill                         1
The University of Missouri-System                                      1
Kean University                                                        1
Kennesaw State University                                              1
The University of Maryland                                             1
Kettering University                                                   1
The University of Edinburgh                                            1
Knox College                                                           1
the University of Chicago                                              1
Length: 1233, dtype: int64

In [7]:
# Approx num schools who have had ugrads receive GRFP/HM but attend different grad school.
df['Baccalaureate Institution'].unique().shape[0] -  df['Current Institution'].unique().shape[0]

2231